	<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Sign_in", '#' %></li>
                  <li><%= link_to "Sign_Up", new_user_path %></li>
            </ul>
            <ul class="nav pull-left">
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "About",  static_pages_about_path  %></li>
              <li><%= link_to "View blog", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
	</header>